@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #print-scoreboard,
  #print-scoreboard * {
    visibility: visible;
  }

  #print-scoreboard {
    position: fixed;
    inset: 0;
    padding: 32px;
    background: white;
  }
} 